<h2>Products</h2>

<div *ngFor="let produto of products; index as productId">
  <h3>
    <a [title]="produto.name + ' details'" [routerLink]="'/products', productId">{{ produto.name }}</a>
  </h3>

  <p *ngIf="produto.description">
    {{produto.description}}
  </p>

  <button (click)="Share()">
    Share
  </button>

  <app-product-alerts [product]="produto" (notify)="onNotify()"></app-product-alerts>
</div>


<! --
diretivas *ng
interpolacao {{}}
property bind []
event bind ()
-->